{% extends "base_books.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'books/css/booksIndex.css' %}" />
{% endblock %}

{% block content %}
    <div id="menuDiv">
        <h2>공부할 때 참고한 도서</h2>
        <ul>
            {% for modelname in model_list %}
    {% with "books:"|add:modelname|lower|add:"_list" as urlvar %}
            <li><a href="{% url urlvar %}">{{ modelname }}</a></li>
    {% endwith %}
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
